
# [submodule "libs/sqlite"]
# 	path = libs/sqlite
# 	url = https://github.com/sqlite/sqlite.git
# [submodule "libs/assimp"]
# 	path = libs/assimp
# 	url = https://github.com/assimp/assimp.git
# [submodule "libs/miniaudio"]
# 	path = libs/miniaudio
# 	url = https://github.com/mackron/miniaudio.git
# [submodule "libs/enet"]
# 	path = libs/enet
# 	url = https://github.com/lsalzman/enet.git
# [submodule "libs/glslang"]
# 	path = libs/glslang
# 	url = https://github.com/KhronosGroup/glslang.git
[submodule "libs/sdl"]
	path = libs/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/sdl_ttf"]
	path = libs/sdl_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "libs/sdl_image"]
	path = libs/sdl_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/multiprecision"]
	path = libs/multiprecision
	url = https://github.com/boostorg/multiprecision.git
[submodule "libs/boost_config"]
	path = libs/boost_config
	url = https://github.com/boostorg/config.git
[submodule "libs/sol2"]
	path = libs/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "libs/yaml-cpp"]
	path = libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "libs/lua"]
	path = libs/lua
	url = https://github.com/lua/lua.git
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "libs/vulkan-headers"]
	path = libs/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git